body {background-color: steelblue;
  min-height: 200vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.title {
      color: #333;
      font-family: Arial;
      font-size: 5rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .card {
      height: 100px;
      width: 200px;
      border-radius: 10px;
      background: black;
      padding: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
    
    }
    .block {
      height: 90%;
      width: 33.33%;
      background: #fff;
      border-radius: 10px;
      margin: 10px;
      display: flex;
      flex-direction: column;
    
      
    }
    .block-val {
      color: #000;
      font-family: Arial;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
    }
    .block-title {
      color: #333;
      font-family: Arial;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
    }



  button {
    height: 10px;
    width: 10x;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    background: #eee;
    color: #333;
    cursor: pointer;
  }



.joel { background-color: white;
  min-height: 160vh;
  width: 50%;
     border-radius: 10px;
}


.mike {background-color: #5b9cd6;
  height: 25vh;
  width: 80%;
  margin: auto;
   border-radius: 10px;
  }

img {border-radius: 10px;}


table {
  margin: auto;
}

p{
  font-size: 14px;
}

p
b{color: white;
font-size: 10px;
}


h3 {
  font-family: Arial;
   border-bottom: 1px solid #bbb;
}
p {font-family: Arial;
}
li{font-family: Arial;}
   button {
    height: 50px;
    width: 60%;
    background:  #5b9cd6;
    color: #fff;
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 18px;
}